<aside class="sidebar">
    <section class="sidebar-section" id="sidebar-about">
        <h2>About me</h2>
        <p>I am Data Science consultant helping businesses make data-driven business decisions.</p>
            <p>I combine my business acumen, rich technical experience and passion about everything data to build intuitive, 
            easy-to-use data products, helping my clients become well-oiled, money-making machines.</p>

        <p>For the last 6 years I've been working in the affiliate marketing sector of iGaming industry with some of the major brands.</p>
        <p>Read more <a href="/about">about me</a>.</p>
        <!-- <p>My skill-set includes statistical analysis, data integration, data analysis, data and text mining, business intelligence, data warehousing.</p> -->
    </section>

    <section class="sidebar-section">
        <h4>Get social</h4>
        {% include svg-icons.html %}
    </section>
    
    <section class="sidebar-section">
        <h2>Recent Posts</h2>
        <ul>
            {% for post in site.posts %}
            <li>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section class="sidebar-section">
        <h2>Twitter feed</h2>
        <a class="twitter-timeline" href="https://twitter.com/s_bogdanovic" data-widget-id="547205779875315713">Tweets by @s_bogdanovic</a>
        <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>
    </section>
</aside>