
//
// VARIABLES
//

// Colors
$blue: #115eb3; 

$ruby: #c1272d;

// Grays
$black: #000;
$darkerGray: #333;
$darkGray: #494949;
$gray: #696969;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}