---
layout: default
---

{% if page.categories.size > 0 %}
    {% capture categories_content %} {% if page.categories.size == 1 %}<i class="fa fa-newspaper-o"></i>{% else %}<i class="fa fa-tags"></i>{% endif %} {% endcapture %}
    {% for post_category in page.categories %}
        {% for data_category in site.data.categories %}
            {% if data_category.slug == post_category %}
                {% assign category = data_category %}
            {% endif %}
        {% endfor %}
        {% if category %}
            {% capture categories_content_temp %}{{ categories_content }}<a href="/category/{{ category.slug }}/">{{ category.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign categories_content = categories_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign categories_content = '' %}
{% endif %}

{% if page.tags.size > 0 %}
    {% capture tags_content %} {% if page.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %} {% endcapture %}
    {% for post_tag in page.tags %}
        {% for data_tag in site.data.tags %}
            {% if data_tag.slug == post_tag %}
                {% assign tag = data_tag %}
            {% endif %}
        {% endfor %}
        {% if tag %}
            {% capture tags_content_temp %}{{ tags_content }}<a href="/tag/{{ tag.slug }}/">{{ tag.name }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}
        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="entry">
        <div class="meta">
            <span class="date">{{ page.date | date: "%B %e, %Y" }}</span>
        </div>
        <div class="meta">
            <span class="categories">{{ categories_content }}</span><span class="tags">{{ tags_content }}</span>
        </div>

        {{ content }}
      
        <div class="meta">
            <span class="categories">{{ categories_content }}</span><span class="tags">{{ tags_content }}</span>
        </div>
    </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>

{% include sidebar.html %}
